*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: dimgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
#big{
    height: 390px;
    width: 300px;
    background-color: azure;
   
}
#container{
    height: 350px;
    width: 300px;
    background-color: whitesmoke;
    overflow: hidden;
    
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}
#container i{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: transform(-50% ,-50%)scale(1);
    opacity: 0;
    transition: transform ease 0.5s;
}
span i{
    margin: 8px 4px;
}
span #book{
    margin-left: 175px;
}